body {
    margin:0
}

#searchForm{
    padding-left:3%;
    height:auto; 
    width:50%;
    background-color:red;
    float:left;
}

#logReg{
    padding-right:2%;
    height:auto; 
    width:20%;
    float:right;
    background-color:aqua;
    text-align:right;
}

#productDet{
      height: auto;
    padding: 1%;;
    border: 5px solid gray;
    margin: 3%; 
}

#prodTabs{
    
		background:#DDA0DD;
        margin:1%;
        margin-top:1%;
        width:inherit;
		height:auto;
		padding:0.5%;
		border-radius:15px;
}


    #prodTabs li{
        position:relative;
	    display:inline;
		padding-left:6%;
    }

.class1{
   margin-left:20%;
}

#content{
    height: auto;
    padding: 1%;;
    border: 2px solid red;
    margin: 3%; 
}