body {
    margin:2%;
}

#detProduct{
    float:left;
    width:50%;
    display:inline;
    margin-top:1%;
}

#rateRev{
    float:right;
    width:30%;
    display:inline;
    background-color:red;
}

.stars:hover
{
    background-image: url('../Image/star.png') !important;
}

.imageSet
{
    margin-top:5%;
}

#btnKirim
{
    margin:10%;
}