
body {
    margin:0;
}

/*SearchResult CSS>>>>>>>>>>>>>>*/
#main{
    height:auto; 
    width:100%;
}

#srcRes{
    margin: 3%;
    text-align:center;
}

#searchForm{
    padding-left:3%;
    height:auto; 
    width:50%;
    float:left;
}

#logReg{
    padding-right:2%;
    height:auto; 
    width:20%;
    float:right;
}

#tblSearchRes{
    padding:2%;
}

#tblSearchRes{
    padding:10%;
    margin : 10%;
}

#hrSrc{
    height: 3px;
    border: none;
}

.imgalign{
    float:left;
}
